@charset "UTF-8";

body {
    background-color: rgb(178, 255, 175);
}

h1 {
    color: #0ae803 ;
}

h1#principal {
    
    color: #39a5f8;
    border-radius: 10px;
    border: 2px, solid, rgb(207, 34, 34);
    text-align: center;
    
}

h2{
    color: #444B80;
}

.basico {
 color: #54aaf1;
}

.intermediario {
 color: #ec5631;
}

.avancado {
 color: #7f1ff4;
}