@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom, #1fff01d5, #2fb617da, #086503f5);
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #064af4;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px solid black;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 5px;
    flex: 0 0 180px
}

header > nav {
    border: 1px dashed white;
    
    display: flex;
    flex-flow: row wrap;
}

header > nav > a {
    background-color: rgba(135, 206, 250, 0.953);
    color: rgb(69, 18, 18);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

header > nav > a:hover {
    background-color: #03133a;
    color: white;
    /* transform: translate(1px, 2px); */
    transform: scale(1.1);
    margin: 5px;
    transition: background-color, padding, transform .5s;
    cursor: pointer;

}

main {
    background-color: #ce3101;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.599);
}